In [4]:
import requests
import bs4
import pandas as pd
import numpy as np
from decimal import *
import time

In [13]:
def download_website(page_url):
    s = requests.session()
    headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:54.0) Gecko/20100101 Firefox/54.0'}
    s.get("https://www.glassdoor.com", headers=headers)
    parsed_boeing = bs4.BeautifulSoup(s.get(page_url, headers=headers).text, 'html.parser')
    return parsed_boeing

#download_website("https://www.glassdoor.com/Salary/Boeing-Salaries-E102.htm")
def get_salary_table(page):
    salaries_html = page.find_all('div', class_="salaryChartModule")[0]
    return salaries_html

def find_titles_and_salaries(table):
    list_of_salary_divs = table.find_all('div', class_="meanPay alignRt")
    salary_list = []
    for salary_div in list_of_salary_divs:
        salary_text = salary_div.get_text()
        #
        salary_numeric=salary_text.split()
       # print(salary_numeric)
        salary_annualized = []
        for line in salary_numeric:
            if salary_numeric[1] =='hourly':
                salary_numeric1 = salary_numeric[0].split('$')[1]
                salary_annualized = Decimal(salary_numeric1)*2080#.replace(".",""))
            elif salary_numeric[0] =='About':    
                salary_annualized = Decimal(salary_numeric[1].split('$')[1].split('k')[0])*1000
            else:
                salary_annualized=Decimal(salary_numeric[0].split('$')[1].replace(",",""))
        #print(salary_annualized)
        #
        salary_list.append(salary_text)
    list_of_title_divs = table.find_all('a', class_="noMargVert jobTitle")
    title_list = []
    for title_div in list_of_title_divs:
        title_text = title_div.get_text()
        title_list.append(title_text)
    return list(zip(title_list,salary_list))

def extract_salaries(page_url):
    webpage = download_website(page_url)
    salary_table = get_salary_table(webpage)
    salaries = find_salaries(salary_table)
    return salaries

#boeing = extract_salaries("https://www.glassdoor.com/Salary/Boeing-Salaries-E102.htm")
#airbus = extract_salaries("https://www.glassdoor.com/Salary/Airbus-Salaries-E3059.htm")
#airlines = boeing + airbus
#print(airlines)

list_urls = ["https://www.glassdoor.com/Salary/Boeing-Salaries-E102.htm",
             "https://www.glassdoor.com/Salary/Airbus-Salaries-E3059.htm"]

def add_company_to_salary_info(titles_and_salaries, company_name):
    result = []
    for title, salary in titles_and_salaries:
        result.append((company_name, title, salary))
    return result
    

companies = list()
for page in list_urls:
    titles_and_salaries = find_titles_and_salaries(download_website(page))
    print(titles_and_salaries)
    company_name = page.split('-')[0].split('/')[-1]
    print(add_company_to_salary_info(titles_and_salaries, company_name))
    #companies = companies + salaries
    #print(type(salaries))
    #print(salaries)
 #   time.sleep(1)
#print(companies)
#salary_split=salary_df.Salary.split('')

[('Systems Engineer ', '$97,380 per year'), ('Software Engineer III ', '$99,128 per year'), ('Software Engineer II ', '$81,599 per year'), ('Software Engineer ', '$88,513 per year'), ('Intern - Hourly', '$23.92 hourly'), ('Engineer ', '$89,510 per year'), ('Project Manager ', '$93,972 per year'), ('Software Engineer I ', '$68,103 per year'), ('Systems Engineer III ', '$99,135 per year'), ('Procurement Agent II ', '$59,983 per year'), ('Procurement Agent III ', '$73,215 per year'), ('Systems Engineer II ', '$82,200 per year'), ('Manufacturing Engineer ', '$76,206 per year'), ('Business Analyst ', '$68,967 per year'), ('Financial Analyst ', '$62,164 per year')]
[('Software Engineer ', '$96,230 per year'), ('Systems Analyst ', '$108,424 per year'), ('Project Manager/Comp and Info Syst Manager ', '$90,902 per year'), ('Engineer III ', '$74,364 per year'), ('Intern - Hourly - Hourly', '$17.67 hourly'), ('Senior Software Engineer ', 'About $84k - $120k'), ('Senior Mechanical Design Engineer ', 'About $76k - $93k'), ('SVT Engineer II - Hourly', 'About $32 - $35 hourly'), ('Senior Engineer ', 'About $92k - $106k'), ('Staff Accountant ', 'About $46k - $80k'), ('Program Director ', 'About $125k - $159k'), ('Project Manager/Computer and Info Systems Manager ', 'About $88k - $94k'), ('Airline Marketing Analyst ', 'About $72k - $92k'), ('Financial Analyst ', 'About $74k - $91k'), ('Senior Systems Analyst ', 'About $95k - $112k')]

In [14]:
#Add company name
#Units 
#Extract numeric value
#Sort by salaries
salary_df=pd.DataFrame(companies, columns = ['Title', 'Salary'])
salary_split=salary_df.Salary.split('')
print(salary_split)

AttributeError: 'Series' object has no attribute 'split'